<!-- Header -->
<app-header></app-header>

<!-- Page Title -->
<div class="page-title-overlap bg-accent pt-4">
    <app-breadcrumbs title="Isometric Device Mockups Bundle" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
</div>

<!-- Shadow box -->
<section class="container mb-3 pb-3">
    <div class="bg-light shadow-lg rounded-3 overflow-hidden">
        <div class="row">
            <!-- Content -->
            <section class="col-lg-8 pt-2 pt-lg-4 pb-4 mb-lg-3">
                <div class="pt-3 px-4 pe-lg-0 ps-xl-5">
                    <!-- Product gallery -->
                    <div class="gallery">
                        <a class="gallery-item rounded-3 mb-grid-gutter" href="javascript:void(0);" (click)="openImage(0)" data-sub-html="&lt;h6 class=&quot;fs-sm text-light&quot;&gt;Simple iPhone X Mockups&lt;/h6&gt;">
                            <img src="assets/img/marketplace/single/01.jpg" alt="Gallery preview">
                            <span class="gallery-item-caption">Simple iPhone X Mockups</span>
                        </a>
                        <div class="row">
                            <div class="col-sm-6">
                                <a class="gallery-item rounded-3 mb-grid-gutter" href="javascript:void(0);" (click)="openImage(1)" data-sub-html="&lt;h6 class=&quot;fs-sm text-light&quot;&gt;UI Psd iPhone X Monochrome&lt;/h6&gt;">
                                    <img src="assets/img/marketplace/single/02.jpg" alt="Gallery preview">
                                    <span class="gallery-item-caption">UI Psd iPhone X Monochrome</span>
                                </a>
                            </div>
                            <div class="col-sm-6">
                                <a class="gallery-item rounded-3 mb-grid-gutter" href="javascript:void(0);" (click)="openImage(2)" data-sub-html="&lt;h6 class=&quot;fs-sm text-light&quot;&gt;iPhone 11 Clay Mockup&lt;/h6&gt;">
                                    <img src="assets/img/marketplace/single/03.jpg" alt="Gallery preview">
                                    <span class="gallery-item-caption">iPhone 11 Clay Mockup</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Wishlist + Sharing -->
                    <div class="d-flex flex-wrap justify-content-between align-items-center border-top pt-3">
                        <div class="py-2 me-2">
                            <button class="btn btn-outline-accent" type="button">
                                <i class="ci-heart fs-lg me-2"></i>
                                Add
                                to Favorites
                            </button>
                        </div>
                        <div class="py-2">
                            <i class="ci-share-alt fs-lg align-middle text-muted me-2"></i>
                            <a class="btn-social bs-outline bs-facebook bs-sm ms-2" href="javascript:void(0);">
                                <i class="ci-facebook"></i>
                            </a>
                            <a class="btn-social bs-outline bs-twitter bs-sm ms-2" href="javascript:void(0);">
                                <i class="ci-twitter"></i>
                            </a>
                            <a class="btn-social bs-outline bs-pinterest bs-sm ms-2" href="javascript:void(0);">
                                <i class="ci-pinterest"></i>
                            </a>
                            <a class="btn-social bs-outline bs-instagram bs-sm ms-2" href="javascript:void(0);">
                                <i class="ci-instagram"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Sidebar -->
            <aside class="col-lg-4 ps-xl-5">
                <hr class="d-lg-none">
                <div class="bg-white h-100 p-4 ms-auto border-start">
                    <div class="px-lg-2">
                        <div class="accordion accordion-flush" id="licenses">
                            <div class="accordion-item border-bottom">
                                <div class="accordion-header d-flex justify-content-between align-items-center py-3">
                                    <div class="form-check" data-bs-toggle="collapse" data-bs-target="#standard-license">
                                        <input class="form-check-input" type="radio" name="license" id="license-std" checked (change)="setlicence('standard-license')">
                                        <label class="form-check-label fw-medium text-dark" for="license-std">
                                            Standard
                                            license
                                        </label>
                                    </div>
                                    <h5 class="mb-0 text-accent fw-normal">
                                        $18.
                                        <small>00</small>
                                    </h5>
                                </div>
                                <div class="accordion-collapse collapse show" id="standard-license" data-bs-parent="#licenses">
                                    <div class="accordion-body py-0 pb-2">
                                        <ul class="list-unstyled fs-sm">
                                            <li class="d-flex align-items-center">
                                                <i class="ci-check-circle text-success me-1"></i>
                                                <span class="fs-ms">Quality verified</span>
                                            </li>
                                            <li class="d-flex align-items-center">
                                                <i class="ci-check-circle text-success me-1"></i>
                                                <span class="fs-ms">Use for a single project</span>
                                            </li>
                                            <li class="d-flex align-items-center">
                                                <i class="ci-check-circle text-success me-1"></i>
                                                <span class="fs-ms">Non-paying users only</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <div class="accordion-header d-flex justify-content-between align-items-center py-3">
                                    <div class="form-check" data-bs-toggle="collapse" data-bs-target="#extended-license">
                                        <input class="form-check-input" type="radio" name="license" id="license-ext" (change)="setlicence('extended-license')">
                                        <label class="form-check-label fw-medium text-dark" for="license-ext">
                                            Extended
                                            license
                                        </label>
                                    </div>
                                    <h5 class="mb-0 text-accent fw-normal">
                                        $299.
                                        <small>00</small>
                                    </h5>
                                </div>
                                <div class="accordion-collapse collapse border-0" id="extended-license" data-bs-parent="#licenses">
                                    <div class="accordion-body py-0 pb-2">
                                        <ul class="list-unstyled fs-sm">
                                            <li class="d-flex align-items-center">
                                                <i class="ci-check-circle text-success me-1"></i>
                                                <span class="fs-ms">Quality verified</span>
                                            </li>
                                            <li class="d-flex align-items-center">
                                                <i class="ci-check-circle text-success me-1"></i>
                                                <span class="fs-ms">Use for a single project</span>
                                            </li>
                                            <li class="d-flex align-items-center">
                                                <i class="ci-check-circle text-success me-1"></i>
                                                <span class="fs-ms">Paying users allowed</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <button class="btn btn-primary btn-shadow d-block w-100 mt-4" type="button">
                            <i class="ci-cart fs-lg me-2"></i>
                            Add to Cart
                        </button>
                        <div class="bg-secondary rounded p-3 mt-4 mb-2">
                            <a class="d-flex align-items-center" href="javascript:void(0);">
                                <img class="rounded-circle" src="assets/img/testimonials/01.jpg" width="50" alt="Sara Palson">
                                <div class="ps-2">
                                    <span class="fs-ms text-muted">Created by</span>
                                    <h6 class="fs-sm mb-0">Sara Palson</h6>
                                </div>
                            </a>
                        </div>
                        <div class="bg-secondary rounded p-3 mb-2">
                            <i class="ci-download h5 text-muted align-middle mb-0 mt-n1 me-2"></i>
                            <span class="d-inline-block h6 mb-0 me-1">715</span>
                            <span class="fs-sm">Sales</span>
                        </div>
                        <div class="bg-secondary rounded p-3 mb-4">
                            <div class="star-rating me-2">
                                <ng-template #t let-fill="fill">
                                    <span class="rstar" [class.full]="fill === 100">
                                        <span class="rhalf" [style.width.%]="fill">
                                            ★
                                        </span>
                                        ☆
                                    </span>
                                </ng-template>
                                <ngb-rating class="d-inline-flex stars align-middle star-rating" [(rate)]="currentRate" [starTemplate]="t" [readonly]="true" [max]="5">
                                </ngb-rating>
                            </div>
                            <span class="fs-ms ms-2">4.1/5</span>
                            <div class="fs-ms text-muted">based on 74 reviews</div>
                        </div>
                        <ul class="list-unstyled fs-sm">
                            <li class="d-flex justify-content-between mb-3 pb-3 border-bottom">
                                <span class="text-dark fw-medium">Last update</span>
                                <span class="text-muted">
                                    April 27,
                                    2019
                                </span>
                            </li>
                            <li class="d-flex justify-content-between mb-3 pb-3 border-bottom">
                                <span class="text-dark fw-medium">Released</span>
                                <span class="text-muted">
                                    February 13,
                                    2019
                                </span>
                            </li>
                            <li class="d-flex justify-content-between mb-3 pb-3 border-bottom">
                                <span class="text-dark fw-medium">Category</span>
                                <a class="product-meta" href="javascript:void(0);">
                                    Graphics
                                </a>
                            </li>
                            <li class="d-flex justify-content-between mb-3 pb-3 border-bottom">
                                <span class="text-dark fw-medium">Compatible with</span>
                                <span class="text-muted">
                                    Photoshop
                                    CS5
                                </span>
                            </li>
                            <li class="d-flex justify-content-between mb-3 pb-3 border-bottom">
                                <span class="text-dark fw-medium">File type</span>
                                <span class="text-muted">PSD, JPG</span>
                            </li>
                            <li class="d-flex justify-content-between pb-3 border-bottom">
                                <span class="text-dark fw-medium">File size</span>
                                <span class="text-muted">56 MB</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>
<!-- Product description + Reviews + Comments -->
<section class="container mb-4 mb-lg-5">
    <!-- Nav tabs -->
    <ul ngbNav #nav="ngbNav" class="nav nav-tabs">
        <li ngbNavItem>
            <a ngbNavLink class="nav-link p-4">
                Product details
            </a>
            <ng-template ngbNavContent>
                <!-- Product details tab -->
                <div class="tab-pane fade show" id="details" role="tabpanel">
                    <div class="row">
                        <div class="col-lg-8">
                            <p class="fs-md">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation
                                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                reprehenderit
                                in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <h3 class="h5 pt-2">Main features</h3>
                            <ul class="fs-md">
                                <li>
                                    Nemo enim ipsam voluptatem quia voluptas sit
                                </li>
                                <li>
                                    Ut enim ad minima veniam, quis nostrum exercitationem
                                </li>
                                <li>
                                    Duis aute irure dolor in reprehenderit in voluptate
                                </li>
                                <li>
                                    At vero eos et accusamus et iusto odio dignissimos
                                </li>
                                <li>
                                    Omnis voluptas assumenda est omnis dolor
                                </li>
                                <li>
                                    Quis autem vel eum iure reprehenderit qui in ea voluptate
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </ng-template>
        </li>
        <li ngbNavItem>
            <a ngbNavLink class="nav-link p-4">
                Reviews
            </a>
            <ng-template ngbNavContent>
                <!-- Reviews tab -->
                <div class="tab-pane fade show" id="reviews" role="tabpanel">
                    <!-- Reviews -->
                    <div class="row pt-2 pb-3">
                        <div class="col-lg-4 col-md-5">
                            <h3 class="h4 mb-4">74 Reviews</h3>
                            <div class="star-rating me-2">
                                <ng-template #t let-fill="fill">
                                    <span class="star" [class.full]="fill === 100">
                                        <span class="half" [style.width.%]="fill">
                                            ★
                                        </span>
                                        ☆
                                    </span>
                                </ng-template>
                                <ngb-rating class="d-inline-flex stars align-middle star-rating" [(rate)]="currentRate" [starTemplate]="t" [readonly]="true" [max]="5">
                                </ngb-rating>
                            </div>
                            <span class="d-inline-block align-middle">4.1 Overall rating</span>
                            <p class="pt-3 fs-sm text-muted">
                                58 out of 74 (77%)
                                <br>
                                Customers recommended this product
                            </p>
                        </div>
                        <div class="col-lg-8 col-md-7">
                            <div class="d-flex align-items-center mb-2">
                                <div class="text-nowrap me-3">
                                    <span class="d-inline-block align-middle text-muted">5</span>
                                    <i class="ci-star-filled fs-xs ms-1"></i>
                                </div>
                                <div class="w-100">
                                    <div class="progress" style="height: 4px;">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <span class="text-muted ms-3">43</span>
                            </div>
                            <div class="d-flex align-items-center mb-2">
                                <div class="text-nowrap me-3">
                                    <span class="d-inline-block align-middle text-muted">4</span>
                                    <i class="ci-star-filled fs-xs ms-1"></i>
                                </div>
                                <div class="w-100">
                                    <div class="progress" style="height: 4px;">
                                        <div class="progress-bar" role="progressbar" style="width: 27%; background-color: #a7e453;" aria-valuenow="27" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <span class="text-muted ms-3">16</span>
                            </div>
                            <div class="d-flex align-items-center mb-2">
                                <div class="text-nowrap me-3">
                                    <span class="d-inline-block align-middle text-muted">3</span>
                                    <i class="ci-star-filled fs-xs ms-1"></i>
                                </div>
                                <div class="w-100">
                                    <div class="progress" style="height: 4px;">
                                        <div class="progress-bar" role="progressbar" style="width: 17%; background-color: #ffda75;" aria-valuenow="17" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <span class="text-muted ms-3">9</span>
                            </div>
                            <div class="d-flex align-items-center mb-2">
                                <div class="text-nowrap me-3">
                                    <span class="d-inline-block align-middle text-muted">2</span>
                                    <i class="ci-star-filled fs-xs ms-1"></i>
                                </div>
                                <div class="w-100">
                                    <div class="progress" style="height: 4px;">
                                        <div class="progress-bar" role="progressbar" style="width: 9%; background-color: #fea569;" aria-valuenow="9" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <span class="text-muted ms-3">4</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="text-nowrap me-3">
                                    <span class="d-inline-block align-middle text-muted">1</span>
                                    <i class="ci-star-filled fs-xs ms-1"></i>
                                </div>
                                <div class="w-100">
                                    <div class="progress" style="height: 4px;">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 4%;" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <span class="text-muted ms-3">2</span>
                            </div>
                        </div>
                    </div>
                    <hr class="mt-4 mb-3">
                    <div class="row py-4">
                        <!-- Reviews list -->
                        <div class="col-md-7">
                            <div class="d-flex justify-content-end pb-4">
                                <div class="d-flex align-items-center flex-nowrap">
                                    <label class="fs-sm text-muted text-nowrap me-2 d-none d-sm-block" for="sort-reviews">
                                        Sort
                                        by:
                                    </label>
                                    <select class="form-select form-select-sm" id="sort-reviews">
                                        <option>Newest</option>
                                        <option>Oldest</option>
                                        <option>Popular</option>
                                        <option>High rating</option>
                                        <option>Low rating</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Review -->
                            @for(review of reviews;track $index){
                            <div class="product-review pb-4 mb-4 border-bottom">
                                <div class="d-flex mb-3">
                                    <div class="d-flex align-items-center me-4 pe-2">
                                        <img class="rounded-circle" src="{{review.profile}}" width="50" alt="{{review.name}}">
                                        <div class="ps-3">
                                            <h6 class="fs-sm mb-0">{{review.name}}</h6>
                                            <span class="fs-ms text-muted">{{review.date}}</span>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="star-rating">
                                            <ng-template #t let-fill="fill">
                                                <span class="rstar" [class.full]="fill === 100">
                                                    <span class="rhalf" [style.width.%]="fill">
                                                        ★
                                                    </span>
                                                    ☆
                                                </span>
                                            </ng-template>
                                            <ngb-rating class="d-inline-flex stars align-middle star-rating" [(rate)]="review.rating" [starTemplate]="t" [readonly]="true" [max]="5">
                                            </ngb-rating>
                                        </div>
                                        <div class="fs-ms text-muted">{{review.review}}</div>
                                    </div>
                                </div>
                                <p class="fs-md mb-2">{{review.content}}</p>
                                <ul class="list-unstyled fs-ms pt-1">
                                    <li class="mb-1">
                                        <span class="fw-medium">Pros:&nbsp;</span>
                                        {{review.pros}}
                                    </li>
                                    <li class="mb-1">
                                        <span class="fw-medium">Cons:&nbsp;</span>
                                        {{review.cons}}
                                    </li>
                                </ul>
                                <div class="text-nowrap">
                                    <button class="btn-like" type="button">
                                        {{review.like}}
                                    </button>
                                    <button class="btn-dislike" type="button">
                                        {{review.dislike}}
                                    </button>
                                </div>
                            </div>
                            }
                            <div class="text-center">
                                <button class="btn btn-outline-accent" type="button">
                                    <i class="ci-reload me-2"></i>
                                    Load
                                    more
                                    reviews
                                </button>
                            </div>
                        </div>
                        <!-- Leave review form -->
                        <div class="col-md-5 mt-2 pt-4 mt-md-0 pt-md-0">
                            <div class="bg-secondary py-grid-gutter px-grid-gutter rounded-3">
                                <h3 class="h4 pb-2">Write a review</h3>
                                <form class="needs-validation" method="post" novalidate [formGroup]="reviewForm" (ngSubmit)="reviewSubmit()">
                                    <div class="mb-3">
                                        <label class="form-label" for="review-name">
                                            Your name
                                            <span class="text-danger">*</span>
                                        </label>
                                        <input class="form-control" type="text" required id="review-name" formControlName="name" [ngClass]="{ 'is-invalid': rsubmit && rform['name'].errors }">
                                        <div class="invalid-feedback">Please enter your name!</div>
                                        <small class="form-text text-muted">Will be displayed on the comment.</small>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="review-email">
                                            Your email
                                            <span class="text-danger">*</span>
                                        </label>
                                        <input class="form-control" type="email" required id="review-email" formControlName="email" [ngClass]="{ 'is-invalid': rsubmit && rform['email'].errors }">
                                        <div class="invalid-feedback">Please provide valid email address!</div>
                                        <small class="form-text text-muted">
                                            Authentication only - we won't spam
                                            you.
                                        </small>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="review-rating">
                                            Rating
                                            <span class="text-danger">*</span>
                                        </label>
                                        <select class="form-select" required id="review-rating" formControlName="rating" [ngClass]="{ 'is-invalid': rsubmit && rform['rating'].errors }">
                                            <option value>Choose rating</option>
                                            <option value="5">5 stars</option>
                                            <option value="4">4 stars</option>
                                            <option value="3">3 stars</option>
                                            <option value="2">2 stars</option>
                                            <option value="1">1 star</option>
                                        </select>
                                        <div class="invalid-feedback">Please choose rating!</div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="review-text">
                                            Review
                                            <span class="text-danger">*</span>
                                        </label>
                                        <textarea class="form-control" rows="6" required id="review-text" formControlName="review" [ngClass]="{ 'is-invalid': rsubmit && rform['review'].errors }"></textarea>
                                        <div class="invalid-feedback">Please write a review!</div>
                                        <small class="form-text text-muted">
                                            Your review must be at least 50
                                            characters.
                                        </small>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="review-pros">
                                            Pros
                                        </label>
                                        <textarea class="form-control" rows="2" placeholder="Separated by commas" id="review-pros"></textarea>
                                    </div>
                                    <div class="mb-3 mb-4">
                                        <label class="form-label" for="review-cons">
                                            Cons
                                        </label>
                                        <textarea class="form-control" rows="2" placeholder="Separated by commas" id="review-cons"></textarea>
                                    </div>
                                    <button class="btn btn-primary btn-shadow d-block w-100" type="submit">
                                        Submit a
                                        Review
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </li>
        <li ngbNavItem>
            <a ngbNavLink class="nav-link p-4">
                Comments
            </a>
            <ng-template ngbNavContent>
                <!-- Comments tab -->
                <div class="tab-pane fade show" id="comments" role="tabpanel">
                    <div class="row">
                        <div class="col-lg-8">
                            <!-- comment -->
                            <div class="d-flex align-items-start py-4 border-bottom">
                                <img class="rounded-circle" src="assets/img/testimonials/04.jpg" width="50" alt="Laura Willson">
                                <div class="ps-3">
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <h6 class="fs-md mb-0">Laura Willson</h6>
                                        <a class="nav-link-style fs-sm fw-medium" href="javascript:void(0);">
                                            <i class="ci-reply me-2"></i>
                                            Reply
                                        </a>
                                    </div>
                                    <p class="fs-md mb-1">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                        do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                        veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat
                                        cupidatat non proident, sunt in culpa qui.
                                    </p>
                                    <span class="fs-ms text-muted">
                                        <i class="ci-time align-middle me-2"></i>
                                        Sep 7, 2019
                                    </span>
                                    <!-- comment reply -->
                                    <div class="d-flex align-items-start border-top pt-4 mt-4">
                                        <img class="rounded-circle" src="assets/img/testimonials/01.jpg" width="50" alt="Sara Palson">
                                        <div class="ps-3">
                                            <div class="d-flex justify-content-between align-items-center mb-2">
                                                <h6 class="fs-md mb-0">Sara Palson</h6>
                                            </div>
                                            <p class="fs-md mb-1">
                                                Egestas sed sed risus pretium quam vulputate
                                                dignissim. A diam
                                                sollicitudin tempor id eu nisl. Ut porttitor leo a diam. Bibendum at
                                                varius vel
                                                pharetra vel turpis nunc.
                                            </p>
                                            <span class="fs-ms text-muted">
                                                <i class="ci-time align-middle me-2"></i>
                                                Sep 13, 2019
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- comment -->
                            <div class="d-flex align-items-start py-4">
                                <img class="rounded-circle" src="assets/img/testimonials/02.jpg" width="50" alt="Benjamin Miller">
                                <div class="ps-3">
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <h6 class="fs-md mb-0">Benjamin Miller</h6>
                                        <a class="nav-link-style fs-sm fw-medium" href="javascript:void(0);">
                                            <i class="ci-reply me-2"></i>
                                            Reply
                                        </a>
                                    </div>
                                    <p class="fs-md mb-1">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                        do
                                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                        veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat
                                        cupidatat non proident, sunt in culpa qui.
                                    </p>
                                    <span class="fs-ms text-muted">
                                        <i class="ci-time align-middle me-2"></i>
                                        Aug 15, 2019
                                    </span>
                                </div>
                            </div>
                            <!-- Post comment form -->
                            <div class="card border-0 shadow my-2">
                                <div class="card-body">
                                    <div class="d-flex align-items-start">
                                        <img class="rounded-circle border p-2" src="assets/img/marketplace/account/avatar-sm.png" width="50" alt="Themesbrand">
                                        <form class="needs-validation w-100 ms-3" novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
                                            <div class="mb-3">
                                                <textarea class="form-control" rows="4" placeholder="Write comment..." required formControlName="message" [ngClass]="{ 'is-invalid': submitted && form['message'].errors }"></textarea>
                                                <div class="invalid-feedback">Please write your comment.</div>
                                            </div>
                                            <button class="btn btn-primary btn-sm" type="submit">
                                                Post comment
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </li>
    </ul>

    <div class="tab-content pt-2">
        <div [ngbNavOutlet]="nav"></div>
    </div>
</section>
<!-- Related products carousel -->
<section class="container mb-5 pb-lg-3">
    <div class="d-flex flex-wrap justify-content-between align-items-center border-bottom pb-4 mb-4">
        <h2 class="h3 mb-0 pt-2">Related mockups</h2>
        <div class="pt-2">
            <a class="btn btn-outline-accent btn-sm" href="javascript:void(0)" routerLink="/category">
                More mockups
                <i class="ci-arrow-end ms-1 me-n1"></i>
            </a>
        </div>
    </div>
    <!-- Carousel -->
    <div class="tns-carousel">
        <ngx-slick-carousel [config]="config">
            @for(mocup of mockups;track $index){
            <div class="swiper-slide" ngxSlickItem>
                <div class="card product-card-alt">
                    <div class="product-thumb">
                        <button class="btn-wishlist btn-sm" type="button" ngbTooltip="Add to wishlist">
                            <i class="ci-heart"></i>
                        </button>
                        <div class="product-card-actions">
                            <a class="btn btn-light btn-icon btn-shadow fs-base mx-2" href="javascript:void(0);" ngbTooltip="View">
                                <i class="ci-eye"></i>
                            </a>
                            <button class="btn btn-light btn-icon btn-shadow fs-base mx-2" type="button" ngbTooltip="Add to cart">
                                <i class="ci-cart"></i>
                            </button>
                        </div>
                        <a class="product-thumb-overlay" href="javascript:void(0);"></a>
                        <img src="{{mocup.image}}" alt="Product">
                    </div>
                    <div class="card-body">
                        <div class="d-flex flex-wrap justify-content-between align-items-start pb-2">
                            <div class="text-muted fs-xs me-1">
                                by
                                <a class="product-meta fw-medium" href="javascript:void(0);">
                                    {{mocup.by}}
                                </a>
                                in
                                <a class="product-meta fw-medium" href="javascript:void(0);">
                                    {{mocup.in}}
                                </a>
                            </div>
                            <div class="star-rating">
                                <i class="star-rating-icon ci-star-filled active"></i>
                                <i class="star-rating-icon ci-star-filled active"></i>
                                <i class="star-rating-icon ci-star-filled active"></i>
                                <i class="star-rating-icon ci-star-filled active"></i>
                                <i class="star-rating-icon ci-star-filled active"></i>
                            </div>
                        </div>
                        <h3 class="product-title fs-sm mb-2">
                            <a href="javascript:void(0);">{{mocup.title}}</a>
                        </h3>
                        <div class="d-flex flex-wrap justify-content-between align-items-center">
                            <div class="fs-sm me-2">
                                <i class="ci-download text-muted me-1"></i>
                                {{mocup.sale}}
                                <span class="fs-xs ms-1">Sales</span>
                            </div>
                            <div class="bg-faded-accent text-accent rounded-1 py-1 px-2">{{mocup.price}}</div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </ngx-slick-carousel>
    </div>
</section>

<!-- Footer -->
<app-footer></app-footer>