<!-- Header -->
<app-header></app-header>

<!-- Page Title -->
<div class="page-title-overlap bg-accent pt-4">
    <app-breadcrumbs title="{{product.name}}" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
</div>

<!-- Shadow box -->
<section class="container mb-3 pb-3">
    <div class="bg-light shadow-lg rounded-3 overflow-hidden">
        <div class="row">
            <!-- Content -->
            <section class="col-lg-8 pt-2 pt-lg-4 pb-4 mb-lg-3">
                <div class="pt-3 px-4 pe-lg-0 ps-xl-5">
                    <!-- Product gallery -->
                    <div class="gallery">
                        <a class="gallery-item rounded-3 mb-grid-gutter" href="javascript:void(0);" (click)="openImage(0)" data-sub-html="&lt;h6 class=&quot;fs-sm text-light&quot;&gt;Simple iPhone X Mockups&lt;/h6&gt;">
                            <img src="{{productImageUrlStaticFile}}{{product.mainPhoto}}" alt="Gallery preview" style="height: 400px;">
                            <span class="gallery-item-caption">{{product.name}}</span>
                        </a>
                    </div>
                </div>
            </section>
            <!-- Sidebar -->
            <aside class="col-lg-4 ps-xl-5">
                <hr class="d-lg-none">
                <div class="bg-white h-100 p-4 ms-auto border-start">
                    <div class="px-lg-2">
                        <div class="accordion accordion-flush" id="licenses">
                            <div class="accordion-item border-bottom">
                                <div class="accordion-header d-flex justify-content-between align-items-center py-3">
                                    <div class="form-check" data-bs-toggle="collapse" data-bs-target="#standard-license">
                                        <input class="form-check-input" type="radio" name="license" id="license-std" checked (change)="setlicence('standard-license')">
                                        <label class="form-check-label fw-medium text-dark" for="license-std">
                                            Preço
                                        </label>
                                    </div>
                                    <h5 *ngIf="product.promotionalPrice <= 0" class="mb-0 text-accent fw-normal">
                                        {{product.price.toFixed(2).replace('.', ',') | mask: 'separator.2' }} <small>Kz</small>
                                    </h5>
                                    <h5 *ngIf="product.promotionalPrice" style="text-decoration:line-through; font-size: 16px;" class="mb-0 text-accent fw-normal">
                                        {{product.price.toFixed(2).replace('.', ',') | mask: 'separator.2' }} <small>Kz</small>
                                    </h5>
                                </div>
                            </div>
                            <div class="accordion-item" *ngIf="product.promotionalPrice">
                                <div class="accordion-header d-flex justify-content-between align-items-center py-3">
                                    <div class="form-check" data-bs-toggle="collapse" data-bs-target="#extended-license">
                                        <input class="form-check-input" type="radio" name="license" id="license-ext" (change)="setlicence('extended-license')">
                                        <label class="form-check-label fw-medium text-dark" for="license-ext">
                                            Preço Promocional
                                        </label>
                                    </div>
                                    <h5 class="mb-0 text-accent fw-normal">
                                        {{product.promotionalPrice.toFixed(2).replace('.', ',') | mask: 'separator.2' }} <small>Kz</small>
                                    </h5>                             
                                   </div>
                              
                            </div>
                        </div>
                        <hr>
                        <button class="btn btn-primary btn-shadow d-block w-100 mt-4" type="button" (click)="showContactDetailsInfo()">
                            <i class="ci-user fs-lg me-2"></i>
                            Contactos do Vendedor
                        </button>
                        <!-- Secondary alert -->
                       
                        <div *ngIf="!showContactInfo" class="bg-secondary rounded p-3 mt-4 mb-2">
                            <ngb-alert [dismissible]="false" type="secondary">
                                Clica no botão acima para ver contactos do <strong>Vendedor</strong>
                            </ngb-alert>
                        </div>
                        <div *ngIf="showContactInfo" class="bg-secondary rounded p-3 mt-4 mb-2">
                            <a class="d-flex align-items-center" href="javascript:void(0);">
                                <!-- <img class="rounded-circle" src="assets/img/testimonials/01.jpg" width="50" alt="Sara Palson"> -->
                                <div class="ps-2">
                                    <span class="fs-ms text-muted">Publicado por</span>
                                    <h6 class="fs-sm mb-0">
                                        {{product.userFullName}}
                                        <span *ngIf="product.isUserVerified" class="badge bg-success rounded-pill badge-shadow py-1"><i class="ci-security-check"></i></span>
                                        <span *ngIf="!product.isUserVerified" class="badge bg-danger rounded-pill badge-shadow py-1"><i class="ci-security-prohibition"></i></span>
                                    </h6>
                                </div>
                            </a>
                        </div>
                        <div *ngIf="showContactInfo" class="bg-secondary rounded p-3 mb-3">
                            <i class="ci-mail h5 text-muted align-middle mb-0 mt-n1 me-2"></i>
                            <span class="fs-sm">{{product.email}}</span>
                        </div>
                        <div *ngIf="showContactInfo" class="bg-secondary rounded p-3 mb-2">
                            <i class="ci-phone h5 text-muted align-middle mb-0 mt-n1 me-2"></i>
                            <span class="fs-sm">{{product.phoneNumber}}</span>
                        </div>
                        <div *ngIf="showContactInfo" class="bg-secondary rounded p-3 mb-2">
                            <i class="ci-home h5 text-muted align-middle mb-0 mt-n1 me-2"></i>
                            <span class="fs-sm">{{product.address}}</span>
                        </div>
                        
                        <ul class="list-unstyled fs-sm mt-3">
                            <li class="d-flex justify-content-between mb-3 pb-3 border-bottom">
                                <span class="text-dark fw-medium">Categoria</span>
                                <a class="product-meta" routerLink="categoria/{{product.categoryName}}">
                                    {{product.categoryName}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>
<!-- Product description + Reviews + Comments -->
<section class="container mb-4 mb-lg-5">
    <!-- Nav tabs -->
    <ul ngbNav #nav="ngbNav" class="nav nav-tabs">
        <li ngbNavItem>
            <a ngbNavLink class="nav-link p-4">
                Detalhes do Produto
            </a>
            <ng-template ngbNavContent>
                <!-- Product details tab -->
                <div class="tab-pane fade show" id="details" role="tabpanel">
                    <div class="row">
                        <div class="col-lg-8">
                            <div [innerHTML]="product.description"></div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </li>
        <li ngbNavItem>
            <a ngbNavLink class="nav-link p-4">
                Especificações Técnicas
            </a>
            <ng-template ngbNavContent>
                <!-- Reviews tab -->
                <div class="tab-pane fade show" id="reviews" role="tabpanel">
                    <!-- Reviews -->
                    <div class="row pt-2 pb-3">
                        <div class="col-lg-10 col-md-10">
                            <div [innerHTML]="product.technicalSpecifications"></div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </li>
        <li ngbNavItem>
            <a ngbNavLink class="nav-link p-4">
                Comentários
            </a>
            <ng-template ngbNavContent>
                <!-- Comments tab -->
                <div class="tab-pane fade show" id="comments" role="tabpanel">
                    <div class="row">
                        <div class="col-lg-8">
                            <!-- comment -->
                            <div *ngIf="comments.length == 0" class="d-flex align-items-start py-4">
                                <div class="ps-3">
                                    <p class="fs-md mb-1">
                                        Não existem comentários para esse produto. Sejá o primeiro a comentar.
                                    </p>
                                </div>
                            </div>
                            <div *ngFor="let comment of comments" class="d-flex align-items-start py-4">
                                <div class="ps-3">
                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                        <h6 class="fs-md mb-0">{{comment.userName}}</h6>
                                        <!-- <a class="nav-link-style fs-sm fw-medium" href="javascript:void(0);">
                                            <i class="ci-reply me-2"></i>
                                            Responder
                                        </a> -->
                                    </div>
                                    <p class="fs-md mb-1">
                                        {{comment.text}}
                                    </p>
                                    <span class="fs-ms text-muted">
                                        <i class="ci-time align-middle me-2"></i>
                                        {{comment.date | date}}
                                    </span>
                                </div>
                            </div>
                            <!-- Post comment form -->
                            <div class="card border-0 shadow my-2">
                                <div class="card-body">
                                    <div class="d-flex align-items-start">
                                        <form class="needs-validation w-100 ms-3" [formGroup]="commentForm" (ngSubmit)="AddComment()">
                                            <div class="col-12">    
                                                <ul *ngIf="errors && errors.length > 0" class="alert alert-danger p-4">
                                                    <li *ngFor="let error of errors">{{ error }}</li>
                                                </ul>
                                            </div>
                                            <div class="mb-3">
                                                <input 
                                                type="text" 
                                                class="form-control" 
                                                placeholder="Seu nome..." 
                                                formControlName="userName"
                                                [ngClass]="{ 'is-invalid': form['userName'].errors && form['userName'].touched }">
                                                <div *ngIf="form['userName'].errors && form['userName'].touched" class="text-danger">
                                                    <div *ngIf="form['userName'].errors['required']">Por favor, informe o seu nome</div>
                                                </div> 
                                            </div>
                                            <div class="mb-3">
                                                <input 
                                                type="email" 
                                                class="form-control"
                                                placeholder="Seu email..." 
                                                formControlName="userEmail"
                                                [ngClass]="{ 'is-invalid': form['userEmail'].errors && form['userEmail'].touched }">
                                                <div *ngIf="form['userEmail'].errors && form['userEmail'].touched" class="text-danger">
                                                    <div *ngIf="form['userEmail'].errors['required']">Por favor, informe o seu email</div>
                                                </div> 
                                            </div>
                                            <div class="mb-3">
                                                <input 
                                                type="text" 
                                                class="form-control" 
                                                placeholder="Seu telefone (opcional)..."
                                                formControlName="userPhoneNumber" >
                                                <div class="invalid-feedback">Escreva seu telefone aqui.</div>
                                            </div>
                                            <div class="mb-3">
                                                <textarea 
                                                class="form-control" 
                                                rows="4" placeholder="Escreva seu comentário..." 
                                                required formControlName="message" 
                                                formControlName="text"
                                                [ngClass]="{ 'is-invalid': form['text'].errors && form['text'].touched }"></textarea>
                                                <div *ngIf="form['text'].errors && form['text'].touched" class="text-danger">
                                                    <div *ngIf="form['text'].errors['required']">Por favor, escreva o seu comentário</div>
                                                </div>
                                            </div>
                                            <button class="btn btn-primary btn-sm" type="submit" [disabled]="commentForm.invalid">
                                                Comentar
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </li>
    </ul>

    <div class="tab-content pt-2">
        <div [ngbNavOutlet]="nav"></div>
    </div>
</section>
<!-- Related products carousel -->
<section class="container mb-5 pb-lg-3">
    <div class="d-flex flex-wrap justify-content-between align-items-center border-bottom pb-4 mb-4">
        <h2 class="h3 mb-0 pt-2">Produtos Relacionados</h2>
        <div class="pt-2">
            <a class="btn btn-outline-accent btn-sm" routerLink="/categoria/{{product.categoryName}}">
                Ver Mais Produtos
                <i class="ci-arrow-end ms-1 me-n1"></i>
            </a>
        </div>
    </div>
    <!-- Carousel -->
    <!-- Products grid -->
  <div class="row pt-3 mx-n2">
    <!-- Product -->
    <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-grid-gutter" *ngFor="let product of productsDto">
        <div class="card product-card-alt">
            <div class="product-thumb" style="height: 200px;">
                <div class="product-card-actions">
                    <a class="btn btn-light btn-icon btn-shadow fs-base mx-2" ngbTooltip="Visualizar" routerLink="/produto/{{product.id}}">
                    <i class="ci-eye"></i>
                    </a>
                </div>
                <a class="product-thumb-overlay" routerLink="/produto/{{product.id}}"></a>
                <img src="{{productImageUrlStaticFile}}{{product.mainPhoto}}" alt="Product" style="height: 100%;">
            </div>
            <div class="card-body">
            <div class="d-flex flex-wrap justify-content-between align-items-start pb-2">
                <div class="text-muted fs-xs me-1">
                por
                <a class="product-meta fw-medium" href="javascript:void(0)">
                    {{product.userFullName}} 
                   
                </a>
                em
                <a class="product-meta fw-medium" href="javascript:void(0)">
                    {{product.categoryName}}
                    <span *ngIf="product.isUserVerified" class="text-success"><i class="ci-security-check"></i></span>
                    <span *ngIf="!product.isUserVerified" class="text-danger" style="border-radius: 50px;"><i class="ci-security-prohibition"></i></span>
                </a>
                </div>
            </div>
            <h3 class="product-title fs-sm mb-2">
                <a routerLink="/produto/{{product.id}}">{{product.name}}</a>
            </h3>
            <div class="d-flex flex-wrap justify-content-between align-items-center">
                <div *ngIf="product.promotionalPrice <= 0" class="bg-faded-accent text-accent rounded-1 py-1 px-2 price">{{product.price.toFixed(2).replace('.', ',') | mask: 'separator.2' }} <small>Kz</small></div>
                <div *ngIf="product.promotionalPrice" class="fs-xs me-1 text-accent rounded-1 py-1 px-2 price" style="text-decoration:line-through;">{{product.price.toFixed(2).replace('.', ',') | mask: 'separator.2' }} <small>Kz</small></div>
                
                <div *ngIf="product.promotionalPrice" class="fs-sm me-2">
                    <span class="bg-faded-accent text-accent rounded-1 py-1 px-2 price">
                        {{ product.promotionalPrice.toFixed(2).replace('.', ',') | mask: 'separator.2' }} <small>Kz</small>
                      </span>                    
                    </div>
            </div>
            </div>
        </div>
    </div>

  </div>
</section>  

<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header alert alert-warning">
		<h4 class="modal-title" id="modal-basic-title">Aviso!</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
		<p>Hello, World!</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-secondary" (click)="c('Save click')">Save</button>
	</div>
</ng-template>

<!-- Footer -->
<app-footer></app-footer>