<!-- header -->
<app-header></app-header>

<!-- Breadcrumbs -->
<div class="page-title-overlap bg-accent pt-4">
    <app-account-breadcrumbs></app-account-breadcrumbs>
</div>

<!-- Content -->
<div class="container mb-5 pb-3">
    <div class="bg-light shadow-lg rounded-3 overflow-hidden">
        <div class="row">
            <!-- Sidebar -->
            <aside class="col-lg-4 pe-xl-5">
                <app-sidemenu></app-sidemenu>
            </aside>
            <!-- Content -->
            <section class="col-lg-8 pt-lg-4 pb-4 mb-3">
                <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
                    <h2 class="h3 py-2 text-center text-sm-start">Minha Conta</h2>
                    <!-- Tabs -->
                    <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav nav-tabs nav-justified">
                        <li [ngbNavItem]="1" class="nav-item">
                            <a ngbNavLink class="nav-link px-0" href="javascript:void(0)">
                                <div class="d-none d-lg-block">
                                    <i class="ci-user opacity-60 me-2"></i>
                                    Perfil
                                </div>
                                <div class="d-lg-none text-center">
                                    <i class="ci-user opacity-60 d-block fs-xl mb-2"></i>
                                    <span class="fs-ms">Perfil</span>
                                </div>
                            </a>
                            <ng-template ngbNavContent>
                                <!-- Profile -->
                                <div class="tab-pane fade show active" id="profile" role="tabpanel">
                                    <!-- <div class="bg-secondary rounded-3 p-4 mb-4">
                                        <div class="d-flex align-items-center">
                                            <img class="rounded" src="assets/img/marketplace/account/avatar.png" width="90" alt="Themesbrand">
                                            <div class="ps-3">
                                                <button class="btn btn-light btn-shadow btn-sm mb-2" type="button">
                                                    <i class="ci-loading me-2"></i>
                                                    Change
                                                    <span class='d-none d-sm-inline'>avatar</span>
                                                </button>
                                                <div class="p mb-0 fs-ms text-muted">
                                                    Upload JPG, GIF or PNG image.
                                                    300 x
                                                    300 required.
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                    <form [formGroup]="userForm" (ngSubmit)="update()">
                                        <div class="col-12">    
                                            <ul *ngIf="errors && errors.length > 0" class="alert alert-danger p-4">
                                                <li *ngFor="let error of errors">{{ error }}</li>
                                            </ul>
                                          </div>
                                          <input type="hidden" formControlName="id">
                                          
                                        <div class="row gx-4 gy-3">
                                            <div class="col-sm-12">
                                                <label class="form-label" for="dashboard-fn">
                                                    Nome
                                                </label>
                                                <input 
                                                class="form-control" 
                                                type="text" 
                                                id="dashboard-fn"
                                                formControlName="fullName"
                                                [ngClass]="{ 'is-invalid': f['fullName'].errors && f['fullName'].touched }">
                                                <div *ngIf="f['fullName'].errors && f['fullName'].touched" class="text-danger">
                                                    <div *ngIf="f['fullName'].errors['required']">Por favor, informe o nome completo</div>
                                                </div> 
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="form-label" for="dashboard-ln">
                                                    E-mail
                                                </label>
                                                <input 
                                                class="form-control" 
                                                type="email" 
                                                id="dashboard-ln"
                                                formControlName="email"
                                                [ngClass]="{ 'is-invalid': f['email'].errors && f['email'].touched }">
                                                <div *ngIf="f['email'].errors && f['email'].touched" class="text-danger">
                                                    <div *ngIf="f['email'].errors['required']">Por favor, informe o e-mail</div>
                                                </div> 
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="form-label" for="dashboard-email">
                                                    Telefone
                                                </label>
                                                <input 
                                                class="form-control" 
                                                type="text" 
                                                id="dashboard-email"
                                                formControlName="phoneNumber"
                                                [ngClass]="{ 'is-invalid': f['phoneNumber'].errors && f['phoneNumber'].touched }">
                                                <div *ngIf="f['phoneNumber'].errors && f['phoneNumber'].touched" class="text-danger">
                                                    <div *ngIf="f['phoneNumber'].errors['required']">Por favor, informe o número do telefone</div>
                                                </div> 
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="form-label" for="dashboard-profile-name">
                                                    Provícia
                                                </label>
                                                <select 
                                                class="form-select" 
                                                id="dashboard-country" 
                                                formControlName="state"
                                                [ngClass]="{ 'is-invalid': f['state'].errors && f['state'].touched }">
                                                    <option selected>Selecione a Província</option>
                                                    
                                                    <option *ngFor="let state of states" [value]="state.name">{{state.name}}</option>
                                                </select>
                                                <div *ngIf="f['state'].errors && f['state'].touched" class="text-danger">
                                                    <div *ngIf="f['state'].errors['required']">Por favor, seleccione a província onde reside</div>
                                                </div> 
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="form-label" for="dashboard-country">
                                                    Munícipio
                                                </label>
                                                <select 
                                                class="form-select" 
                                                id="dashboard-country" 
                                                formControlName="city"
                                                [ngClass]="{ 'is-invalid': f['city'].errors && f['city'].touched }">
                                                    <option selected>Selecione o munícipio</option>
                                                    
                                                    <option *ngFor="let city of cities" [value]="city.name">{{city.name}}</option>
                                                </select>
                                                <div *ngIf="f['city'].errors && f['city'].touched" class="text-danger">
                                                    <div *ngIf="f['city'].errors['required']">Por favor, seleccione o munícipio onde reside</div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <label class="form-label" for="dashboard-city">
                                                    Endereço
                                                </label>
                                                <input 
                                                class="form-control" 
                                                type="text"
                                                formControlName="address"
                                                [ngClass]="{ 'is-invalid': f['address'].errors && f['address'].touched }">
                                                <div *ngIf="f['address'].errors && f['address'].touched" class="text-danger">
                                                    <div *ngIf="f['address'].errors['required']">Por favor, informe seu endereço</div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <hr class="mt-2 mb-4">
                                                <div class="d-sm-flex justify-content-between align-items-center">
                                                     <div class="form-check">
                                                        <!-- <input class="form-check-input" type="checkbox" id="freelancer" checked>
                                                        <label class="form-check-label" for="freelancer">
                                                            I'm available
                                                            for
                                                            freelance
                                                        </label> -->
                                                    </div> 
                                                    <button class="btn btn-primary mt-3 mt-sm-0" type="submit">
                                                        Salvar
                                                        alterações
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    
                                </div>
                            </ng-template>
                        </li>
                        <li [ngbNavItem]="2" class="nav-item">
                            <a ngbNavLink class="nav-link px-0" href="javascript:void(0)">
                                <div class="d-none d-lg-block">
                                    <i class="ci-check-circle opacity-60 me-2"></i>
                                    Verificação
                                </div>
                                <!-- <div class="d-lg-none text-center">
                                    <i class="ci-bell opacity-60 d-block fs-xl mb-2"></i>
                                    <span class="fs-ms">Notifications</span>
                                </div> -->
                            </a>
                            <ng-template ngbNavContent>
                                <div class="col-12">    
                                    <ul *ngIf="errors && errors.length > 0" class="alert alert-danger p-4">
                                        <li *ngFor="let error of errors">{{ error }}</li>
                                    </ul>
                                  </div>
                                <div class="bg-secondary rounded-3 p-4">
                                    <div class="form-check form-switch">
                                        <label class="form-check-label fw-medium" for="nf-disable-all">
                                            Envie sua Licença ou Alvará no formato png, jpeg ou jpg para que sua conta esteja verificada!
                                        </label>
                                    </div>
                                </div>
                                <div id="notifocation-settings">
                                    <form method="post" (ngSubmit)="addLicense()" [formGroup]="licenseForm">                                                            
                                        <ngx-dropzone (change)="onSelect($event)">
                                          <ngx-dropzone-label><i class="display-4 text-muted bx bxs-cloud-upload"></i>
                                            <h4>Arraste ou clique aqui para enviar o aqruivo</h4>
                                          </ngx-dropzone-label>
                                          @for(f of files;track $index){
                                          <ngx-dropzone-preview [removable]="true" (removed)="onRemove(f)">
                                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                          </ngx-dropzone-preview>
                                        }
                                        </ngx-dropzone> 

                                        <button class="btn btn-primary d-block w-100 mt-3" [disabled]="licenseForm.invalid" type="submit">
                                          <i class="ci-cloud-upload fs-lg me-2"></i>
                                          Enviar
                                        </button>
                                      </form>
                                </div>
                            </ng-template>
                        </li>
                        <!-- <li [ngbNavItem]="3" class="nav-item">
                            <a ngbNavLink class="nav-link px-0" href="javascript:void(0)" data-bs-toggle="tab" role="tab">
                                <div class="d-none d-lg-block">
                                    <i class="ci-card opacity-60 me-2"></i>
                                    Payment methods
                                </div>
                                <div class="d-lg-none text-center">
                                    <i class="ci-card opacity-60 d-block fs-xl mb-2"></i>
                                    <span class="fs-ms">Payment</span>
                                </div>
                            </a>
                            <ng-template ngbNavContent>
                                <div class="bg-secondary rounded-3 p-4 mb-4">
                                    <p class="fs-sm text-muted mb-0">
                                        Primary payment method is used by default
                                    </p>
                                </div>
                                <div class="table-responsive fs-md mb-4">
                                    <table class="table table-hover mb-0">
                                        <thead>
                                            <tr>
                                                <th>Your credit / debit cards</th>
                                                <th>Name on card</th>
                                                <th>Expires on</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for(card of allpayment;track $index){
                                            <tr>
                                                <td class="py-3 align-middle">
                                                    <div class="d-flex align-items-center">
                                                        <img src="{{card.image}}" width="39" alt="Visa">
                                                        <div class="ps-2">
                                                            <span class="fw-medium text-heading me-1">{{card.title}}</span>
                                                            ending in {{card.card_no}}
                                                            <span class="align-middle badge badge-info ms-2">Primary</span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="py-3 align-middle">{{card.card_name}}</td>
                                                <td class="py-3 align-middle">{{card.expire_date}}</td>
                                                <td class="py-3 align-middle">
                                                    <a class="nav-link-style me-2" href="javascript:void(0)" data-bs-toggle="tooltip" ngbTooltip="Edit">
                                                        <i class="ci-edit" (click)="editModal($index,content)"></i>
                                                    </a>
                                                    <a class="nav-link-style text-danger" href="javascript:void(0);" placement="top" data-bs-toggle="tooltip" ngbTooltip="Remove" (click)="removeData($event)">
                                                        <div class="ci-trash"></div>
                                                    </a>

                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-sm-end">
                                    <a class="btn btn-primary" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#showModal" (click)="openModal(content)">
                                        Add payment method
                                    </a>
                                </div>
                            </ng-template>
                        </li> -->
                    </ul>
                    <!-- Tab content -->
                    <div class="tab-content">
                        <div [ngbNavOutlet]="nav"></div>
                    </div>
                </div>
            </section>
            <!-- Add Payment Method -->
            <ng-template #content let-modal>
                <div class="modal-header">
                    <h5 class="modal-title">Add a payment method</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="modal.dismiss('Cross click')"></button>
                </div>
                <form class="needs-validation" method="post" (ngSubmit)="savePayment()" [formGroup]="cardForm">
                    <input class="form-check-input" type="hidden" name="ids" value formControlName="ids">
                    <div class="modal-body">
                        <div class="form-check mb-4">
                            <input class="form-check-input" type="radio" id="paypal" value="paypal" formControlName="method">
                            <label class="form-check-label" for="paypal">
                                PayPal
                                <img class="d-inline-block align-middle ms-2" src="assets/img/card-paypal.png" width="39" alt="PayPal">
                            </label>
                        </div>
                        <div class="form-check mb-4">
                            <input class="form-check-input" type="radio" id="card" value="credit" formControlName="method">
                            <label class="form-check-label" for="card">
                                Credit / Debit card
                                <img class="d-inline-block align-middle ms-2" src="assets/img/cards.png" width="187" alt="Credit card">
                            </label>
                        </div>
                        <div class="row g-3 mb-2">
                            <div class="col-sm-6">
                                <input class="form-control" type="text" name="number" placeholder="Card Number" required formControlName="title" [ngClass]="{'is-invalid': submitted && form['title'].errors}">
                                <div class="invalid-feedback">Please fill in the card number!</div>
                            </div>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" name="name" placeholder="Full Name" required formControlName="card_name" [ngClass]="{'is-invalid': submitted && form['card_name'].errors}">
                                <div class="invalid-feedback">Please provide name on the card!</div>
                            </div>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" name="expiry" placeholder="MM/YY" required formControlName="expire_date" [ngClass]="{'is-invalid': submitted && form['expire_date'].errors}">
                                <div class="invalid-feedback">Please provide card expiration date!</div>
                            </div>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" name="cvc" placeholder="CVC" required formControlName="card_no" [ngClass]="{'is-invalid': submitted && form['card_no'].errors}">
                                <div class="invalid-feedback">Please provide card CVC code!</div>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-primary d-block w-100" type="submit" id="add-btn">
                                    Register this card
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </ng-template>
        </div>
    </div>
</div>

<!-- Footer -->
<app-footer></app-footer>