<!-- header -->
<app-header></app-header>

<!-- Breadcrumbs -->
<div class="page-title-overlap bg-accent pt-4">
    <app-account-breadcrumbs></app-account-breadcrumbs>
</div>

<!-- Content -->
<div class="container mb-5 pb-3">
    <div class="bg-light shadow-lg rounded-3 overflow-hidden">
        <div class="row">
            <!-- Sidebar -->
            <aside class="col-lg-4 pe-xl-5">
                <app-sidemenu></app-sidemenu>
            </aside>
            <!-- Content -->
            <section class="col-lg-8 pt-lg-4 pb-4 mb-3">
                <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
                    <h2 class="h3 py-2 text-center text-sm-start">
                        Conta 
                        <span *ngIf="!userData.isVerified" class="badge bg-warning badge-shadow">Não verificada</span>
                        <span *ngIf="userData.isVerified" class="badge bg-success badge-shadow">Verificada</span>
                    </h2>
                    <!-- Tabs -->
                    <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav nav-tabs nav-justified">
                        <li [ngbNavItem]="1" class="nav-item">
                            <a ngbNavLink class="nav-link px-0" href="javascript:void(0)">
                                <div class="d-none d-lg-block">
                                    <i class="ci-user opacity-60 me-2"></i>
                                    Perfil
                                </div>
                                <div class="d-lg-none text-center">
                                    <i class="ci-user opacity-60 d-block fs-xl mb-2"></i>
                                    <span class="fs-ms">Perfil</span>
                                </div>
                            </a>
                            <ng-template ngbNavContent>
                                <!-- Profile -->
                                <div class="tab-pane fade show active" id="profile" role="tabpanel">
                                    <form [formGroup]="userForm" (ngSubmit)="update()">
                                        <div class="col-12">    
                                            <ul *ngIf="errors && errors.length > 0" class="alert alert-danger p-4">
                                                <li *ngFor="let error of errors">{{ error }}</li>
                                            </ul>
                                          </div>
                                          <input type="hidden" formControlName="id">
                                          
                                        <div class="row gx-4 gy-3">
                                            <div class="col-sm-12">
                                                <label class="form-label" for="dashboard-fn">
                                                    Nome
                                                </label>
                                                <input 
                                                class="form-control" 
                                                type="text" 
                                                id="dashboard-fn"
                                                formControlName="fullName"
                                                [ngClass]="{ 'is-invalid': f['fullName'].errors && f['fullName'].touched }">
                                                <div *ngIf="f['fullName'].errors && f['fullName'].touched" class="text-danger">
                                                    <div *ngIf="f['fullName'].errors['required']">Por favor, informe o nome completo</div>
                                                </div> 
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="form-label" for="dashboard-ln">
                                                    E-mail
                                                </label>
                                                <input 
                                                class="form-control" 
                                                type="email" 
                                                id="dashboard-ln"
                                                formControlName="email"
                                                [ngClass]="{ 'is-invalid': f['email'].errors && f['email'].touched }">
                                                <div *ngIf="f['email'].errors && f['email'].touched" class="text-danger">
                                                    <div *ngIf="f['email'].errors['required']">Por favor, informe o e-mail</div>
                                                </div> 
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="form-label" for="dashboard-email">
                                                    Telefone
                                                </label>
                                                <input 
                                                class="form-control" 
                                                type="text" 
                                                id="dashboard-email"
                                                formControlName="phoneNumber"
                                                [ngClass]="{ 'is-invalid': f['phoneNumber'].errors && f['phoneNumber'].touched }">
                                                <div *ngIf="f['phoneNumber'].errors && f['phoneNumber'].touched" class="text-danger">
                                                    <div *ngIf="f['phoneNumber'].errors['required']">Por favor, informe o número do telefone</div>
                                                </div> 
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="form-label" for="dashboard-profile-name">
                                                    Provícia
                                                </label>
                                                <select 
                                                class="form-select" 
                                                id="dashboard-country" 
                                                formControlName="state"
                                                [ngClass]="{ 'is-invalid': f['state'].errors && f['state'].touched }">
                                                    <option selected>Selecione a Província</option>
                                                    
                                                    <option *ngFor="let state of states" [value]="state.name">{{state.name}}</option>
                                                </select>
                                                <div *ngIf="f['state'].errors && f['state'].touched" class="text-danger">
                                                    <div *ngIf="f['state'].errors['required']">Por favor, seleccione a província onde reside</div>
                                                </div> 
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="form-label" for="dashboard-country">
                                                    Munícipio
                                                </label>
                                                <select 
                                                class="form-select" 
                                                id="dashboard-country" 
                                                formControlName="city"
                                                [ngClass]="{ 'is-invalid': f['city'].errors && f['city'].touched }">
                                                    <option selected>Selecione o munícipio</option>
                                                    
                                                    <option *ngFor="let city of cities" [value]="city.name">{{city.name}}</option>
                                                </select>
                                                <div *ngIf="f['city'].errors && f['city'].touched" class="text-danger">
                                                    <div *ngIf="f['city'].errors['required']">Por favor, seleccione o munícipio onde reside</div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <label class="form-label" for="dashboard-city">
                                                    Endereço
                                                </label>
                                                <input 
                                                class="form-control" 
                                                type="text"
                                                formControlName="address"
                                                [ngClass]="{ 'is-invalid': f['address'].errors && f['address'].touched }">
                                                <div *ngIf="f['address'].errors && f['address'].touched" class="text-danger">
                                                    <div *ngIf="f['address'].errors['required']">Por favor, informe seu endereço</div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <hr class="mt-2 mb-4">
                                                <div class="d-sm-flex justify-content-between align-items-center">
                                                     <div class="form-check">
                                                        <!-- <input class="form-check-input" type="checkbox" id="freelancer" checked>
                                                        <label class="form-check-label" for="freelancer">
                                                            I'm available
                                                            for
                                                            freelance
                                                        </label> -->
                                                    </div> 
                                                    <button class="btn btn-primary mt-3 mt-sm-0" type="submit">
                                                        Salvar
                                                        alterações
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    
                                </div>
                            </ng-template>
                        </li>
                        <li [ngbNavItem]="2" class="nav-item">
                            <a ngbNavLink class="nav-link px-0" href="javascript:void(0)">
                                <div class="d-none d-lg-block">
                                    <i class="ci-check-circle opacity-60 me-2"></i>
                                    Verificação
                                </div>
                            </a>
                            <ng-template ngbNavContent>
                                <div class="col-12">    
                                    <ul *ngIf="errors && errors.length > 0" class="alert alert-danger p-4">
                                        <li *ngFor="let error of errors">{{ error }}</li>
                                    </ul>
                                </div>

                                <div class="bg-secondary rounded-3 p-4" *ngIf="!userData?.businessLicense">
                                    <div class="form-check form-switch">
                                        <label class="form-check-label fw-medium" for="nf-disable-all">
                                           Envie sua Licença ou Alvará no formato png, jpeg ou jpg para que sua conta esteja verificada!
                                        </label>
                                    </div>
                                </div>
                                <div id="notifocation-settings" *ngIf="!userData?.businessLicense">
                                    <form method="post" (ngSubmit)="addLicense()" [formGroup]="licenseForm">                                                            
                                        <ngx-dropzone (change)="onSelect($event)">
                                          <ngx-dropzone-label><i class="display-4 text-muted bx bxs-cloud-upload"></i>
                                            <h4>Arraste ou clique aqui para enviar o aqruivo</h4>
                                          </ngx-dropzone-label>
                                          @for(f of files;track $index){
                                          <ngx-dropzone-preview [removable]="true" (removed)="onRemove(f)">
                                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                          </ngx-dropzone-preview>
                                        }
                                        </ngx-dropzone> 

                                        <button class="btn btn-primary d-block w-100 mt-3" [disabled]="licenseForm.invalid" type="submit">
                                          <i class="ci-cloud-upload fs-lg me-2"></i>
                                          Enviar
                                        </button>
                                      </form>
                                </div>

                                <div class="bg-secondary rounded-3 p-4" *ngIf="userData?.businessLicense">
                                    <div class="form-check form-switch">
                                        <label class="form-check-label fw-medium" for="nf-disable-all">
                                            A sua licença serve para credenciá-lo como fornecedor confiável na plataforma!
                                        </label>
                                    </div>
                                </div>

                                <div class="row justify-content-center mt-2">
                                    <div class="card py-3" style="max-width:340px;" *ngIf="userData?.businessLicense">
                                        <div class="row g-0">
                                            <div class="col-sm-10">
                                                <img src="{{licenseImageUrlStaticFile}}{{userData.businessLicense}}" class="rounded-start" alt="Card image">
                                            </div>
                                            <div class="col-sm-2">
                                                <button class="btn btn-primary btn-shadow d-block w-100" type="button" (click)="remove()" >
                                                    <i class="ci-trash fs-lg me-2"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </li>
                    </ul>
                    <!-- Tab content -->
                    <div class="tab-content">
                        <div [ngbNavOutlet]="nav"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<!-- Footer -->
<app-footer></app-footer>