<!-- Sign in / sign up modal-->
<!-- <ng-template role="document" let-modal> -->
    <div class="modal-content">
        <div class="modal-header bg-secondary">
          <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item" [ngbNavItem]="1">
              <a ngbNavLink class="nav-link fw-medium" href="javascript:void(0);" data-bs-toggle="tab" role="tab"
                aria-selected="false"><i class="ci-user me-2 mt-n1"></i>Criar Conta</a>
    
              <ng-template ngbNavContent>
                <form (ngSubmit)="signup()" [formGroup]="signUpForm" class="needs-validation tab-pane fade show"
                  autocomplete="off" novalidate id="signup-tab">

                  <div class="col-12">    
                    <ul *ngIf="errors && errors.length > 0" class="alert alert-danger p-4">
                        <li *ngFor="let error of errors">{{ error }}</li>
                    </ul>
                  </div>
                  
                  <div class="mb-3">
                    <label class="form-label" for="su-name">Nome Completo</label>
                    <input 
                    class="form-control" 
                    type="text" id="su-name" 
                    placeholder="Ana Pedro" 
                    formControlName="fullName"
                    [ngClass]="{ 'is-invalid': signupform['fullName'].errors && signupform['fullName'].touched }">
                    <div *ngIf="signupform['fullName'].errors && signupform['fullName'].touched" class="text-danger">
                        <div *ngIf="signupform['fullName'].errors['required']">Por favor, informe o nome completo</div>
                    </div>
                  </div>

                  <div class="mb-3">
                    <label class="form-label" for="su-phone">Telefone</label>
                    <input 
                    class="form-control" type="text" 
                    placeholder="9xx xxx xxx" 
                    formControlName="phoneNumber"
                    [ngClass]="{ 'is-invalid': signupform['phoneNumber'].errors && signupform['phoneNumber'].touched }">
                    <div *ngIf="signupform['phoneNumber'].errors && signupform['phoneNumber'].touched" class="text-danger">
                        <div *ngIf="signupform['phoneNumber'].errors['required']">Por favor, informe o número de telefone</div>
                    </div>
                  </div>

                  <div class="mb-3">
                    <label for="su-email">E-mail</label>
                    <!-- <input class="form-control" type="email" id="su-email" placeholder="johndoe@example.com" required> -->
                    <input 
                    class="form-control" 
                    type="email" id="si-email" 
                    placeholder="ana@exemplo.com"
                    formControlName="email" 
                    [ngClass]="{ 'is-invalid': signupform['email'].errors && signupform['email'].touched }"
                    required>
                    <div *ngIf="signupform['email'].errors && signupform['email'].touched" class="text-danger">
                        <div *ngIf="signupform['email'].errors['required']">Por favor, informe o e-mail do utilizador</div>
                    </div>
                  </div>

                  <div class="mb-3">
                    <label class="form-label" for="su-password">Senha</label>
                    <div class="password-toggle">
                      <input 
                      class="form-control" [type]="signupPassfield ? 'text' : 'password'" 
                      id="su-password" required
                      formControlName="password"
                      [ngClass]="{ 'is-invalid': signupform['password'].errors && signupform['password'].touched }">
                      <div *ngIf="signupform['password'].errors && signupform['password'].touched" class="text-danger">
                        <div *ngIf="signupform['password'].errors['required']">Por favor, informe a senha do utilizador</div>
                      </div>

                      <label class="password-toggle-btn" aria-label="Show/hide password">
                        <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"
                          [ngClass]="{'mdi-eye-off-outline': !signupPassfield, 'mdi-eye-outline': fieldTextType
                      }" (click)="togglesignupPassfield()"></span>
                      </label>
                    </div>
                  </div>

                  <div class="mb-3">
                    <label class="form-label" for="su-password-confirm">Confirmar senha</label>
                    <div class="password-toggle">
                      <input class="form-control" type="password" id="su-password-confirm" required>
                      <label class="password-toggle-btn" aria-label="Show/hide password">
                        <input class="password-toggle-check" type="checkbox"><span class="password-toggle-indicator"></span>
                      </label>
                    </div>
                  </div>

                  <button class="btn btn-primary btn-shadow d-block w-100" type="submit" [disabled]="signUpForm.invalid">Criar conta</button>
                </form>
              </ng-template>
            </li>
          </ul>
          <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close" (click)="closemodal()"></button>
        </div>
        <div class="modal-body tab-content py-4">
          <div [ngbNavOutlet]="nav"></div>
        </div>
      </div>
    <!-- </ng-template> -->
  