<!-- Header -->
<app-header></app-header>

<!-- Page Title -->
<div class="page-title-overlap bg-accent pt-4">
  <app-account-breadcrumbs></app-account-breadcrumbs>
</div>

<!-- Content -->
<div class="container mb-5 pb-3">
  <div class="bg-light shadow-lg rounded-3 overflow-hidden">
    <div class="row">
      <!-- Sidebar -->
      <aside class="col-lg-4 pe-xl-5">
        <app-sidemenu></app-sidemenu>
      </aside>
      <!-- Content -->
      <section class="col-lg-8 pt-lg-4 pb-4 mb-3">
        <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
          <!-- Title -->
          <form method="post" (ngSubmit)="AddProduct()" [formGroup]="productForm">
            <div class="d-sm-flex flex-wrap justify-content-between align-items-center pb-2">
              <h2 class="h3 py-2 me-2 text-center text-sm-start">Novo Produto</h2>
              <div class="py-2">
              </div>
            </div>

            <div class="col-12">    
              <ul *ngIf="errors && errors.length > 0" class="alert alert-danger p-4">
                  <li *ngFor="let error of errors">{{ error }}</li>
              </ul>
            </div>

            <div class="mb-3 pb-2">
              <label class="form-label" for="unp-product-name">
                Nome do Produto*
              </label>
              <input 
                class="form-control" 
                type="text" 
                id="unp-product-name" 
                formControlName="name"
                [ngClass]="{ 'is-invalid': form['name'].errors && form['name'].touched }">
                <div *ngIf="form['name'].errors && form['name'].touched" class="text-danger">
                  <div *ngIf="form['name'].errors['required']">Por favor, informe o nome do produto</div>
                </div> 
              <div class="form-text">
                Máximo de 100 caracteres. HTML ou emojis não são permitidos.
              </div>
            </div>

            <div class="mb-3 pb-2">
              <label class="form-label" for="unp-product-name">
                Categoria*
              </label>
              <select class="form-select me-2" id="unp-category" 
                formControlName="categoryId" [ngClass]="{ 'is-invalid': form['categoryId'].errors && form['categoryId'].touched }">
                <option value="" selected disabled>Seleccione a categoria</option>
                <option *ngFor="let category of categories" [value]="category.id">{{category.description}}</option>
              </select>
              <div *ngIf="form['categoryId'].errors && form['categoryId'].touched" class="text-danger">
                <div *ngIf="form['categoryId'].errors['required']">Por favor, seleccione uma categoria para esse produto</div>
              </div> 
            </div>

            <div class="mb-3 pb-2">
              <label class="form-label">Foto Principal*</label>
              <!-- Drag and drop file upload -->
              <div class="file-drop-area">
                <div *ngIf="imageSrc" class="file-drop-preview img-thumbnail rounded">
                  <!-- Exibir a imagem aqui -->
                  <img [src]="imageSrc"  alt="Imagem selecionada" style="width: 50%; height: auto;"/>
                </div>
                <span class="file-drop-message">Arraste e solte ou clique aqui para fazer o upload da foto principal</span>
                <input type="file" class="file-drop-input" (change)="onFileSelect($event)">
              </div>
            </div>

            <div class="row mb-3 pb-2">
              <div class="col-4">
                <div class="file-drop-area">
                  <div *ngIf="imagesSrc[0]" class="file-drop-preview img-thumbnail rounded">
                    <!-- Exibir a imagem aqui -->
                    <img [src]="imagesSrc[0]"  alt="Imagem selecionada" style="width: 50%; height: auto;"/>
                  </div>
                  <span class="file-drop-message">Adicionar foto</span>
                  <input type="file" class="file-drop-input" (change)="onImagesSelect($event, 0)">
                  <button *ngIf="imagesSrc[0]" (click)="removeFile(0)" type="button" class="btn btn-outline-danger btn-icon">
                    <i class="ci-trash"></i>
                  </button>
                </div>
              </div>

              <div class="col-4">
                <div class="file-drop-area">
                  <div *ngIf="imagesSrc[1]" class="file-drop-preview img-thumbnail rounded">
                    <!-- Exibir a imagem aqui -->
                    <img [src]="imagesSrc[1]"  alt="Imagem selecionada" style="width: 50%; height: auto;"/>
                  </div>
                  <span class="file-drop-message">Adicionar foto</span>
                  <input type="file" class="file-drop-input" (change)="onImagesSelect($event, 1)">
                  <button *ngIf="imagesSrc[1]" (click)="removeFile(1)" type="button" class="btn btn-outline-danger btn-icon">
                    <i class="ci-trash"></i>
                  </button>
                </div>
              </div>

              <div class="col-4">
                <div class="file-drop-area">
                  <div *ngIf="imagesSrc[2]" class="file-drop-preview img-thumbnail rounded">
                    <!-- Exibir a imagem aqui -->
                    <img [src]="imagesSrc[2]"  alt="Imagem selecionada" style="width: 50%; height: auto;"/>
                  </div>
                  <span class="file-drop-message">Adicionar foto</span>
                  <input type="file" class="file-drop-input" (change)="onImagesSelect($event, 2)">
                  <button *ngIf="imagesSrc[2]" (click)="removeFile(2)" type="button" class="btn btn-outline-danger btn-icon">
                    <i class="ci-trash"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="mb-3 mt-3 py-2">
              <label class="form-label" for="unp-product-description">
                Descrição do Produto*
              </label>
              <div class="NgxEditor__Wrapper">
                <ngx-editor-menu [editor]="descriptionEditor" [toolbar]="toolbar"> </ngx-editor-menu>
                <ngx-editor 
                [editor]="descriptionEditor" 
                formControlName="description"
                [ngClass]="{ 'is-invalid': form['description'].errors && form['description'].touched }"
                [placeholder]="'Descrição do Produto'"> </ngx-editor>
              </div>
              <div *ngIf="form['description'].errors && form['description'].touched" class="text-danger">
                <div *ngIf="form['description'].errors['required']">Por favor, forneça mais detalhes sobre o produto</div>
              </div> 
            </div>

            <div class="mb-3 mt-3 py-2">
              <label class="form-label" for="unp-product-description">
                Especifiações Técnicas
              </label>
              <div class="NgxEditor__Wrapper">
                <ngx-editor-menu [editor]="especificationEditor" [toolbar]="toolbar"> </ngx-editor-menu>
                <ngx-editor 
                [editor]="especificationEditor" 
                formControlName="technicalSpecifications"
                [placeholder]="'Especifiações técnicas do produto'"> </ngx-editor>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 mb-3">
                <label class="form-label" for="unp-standard-price">
                  Preço*
                </label>
                <div class="input-group">
                  <span class="input-group-text">
                    KZ
                  </span>
                  <input 
                    class="form-control" 
                    type="text" 
                    mask="separator.2" thousandSeparator="." decimalMarker="," suffix=",00"
                    formControlName="price"
                    [ngClass]="{ 'is-invalid': form['price'].errors && form['price'].touched }">
                    <div *ngIf="form['price'].errors && form['price'].touched" class="text-danger">
                      <div *ngIf="form['price'].errors['required']">Por favor, informe o preço do produto</div>
                    </div> 
                </div>
                <div class="form-text">
                  Este será o preço normal do produto
                </div>
              </div>
              <div class="col-sm-6 mb-3">
                <label class="form-label" for="unp-extended-price">
                  Preço promocional
                </label>
                <div class="input-group">
                  <span class="input-group-text">
                    KZ
                  </span>
                  <input class="form-control" type="text" mask="separator.2" thousandSeparator="." decimalMarker="," suffix=",00" formControlName="promotionalPrice">
                </div>
                <div class="form-text">
                  Caso deseja colocar seu produto em promoção.
                </div>
              </div>
            </div>

              <!-- <div class="mb-3 pb-2">
                <label class="form-label" for="unp-product-files">
                  Product files for sale
                </label>
                <input class="form-control" id="unp-product-files" type="file" accept="image/png, image/gif, image/jpeg" formControlName="salefile" (change)="fileChange($event)">
                <div class="form-text">Maximum file size is 1GB</div>
              </div> -->

            <button class="btn btn-primary d-block w-100 mt-3" [disabled]="productForm.invalid" type="submit">
              <i class="ci-cloud-upload fs-lg me-2"></i>
              Salvar
            </button>
          </form>
        </div>
      </section>
    </div>
  </div>
</div>

<!-- Footer -->
<app-footer></app-footer>