<!-- Header -->
<app-header></app-header>

<!-- Hero section -->
<section class="bg-accent bg-position-top-center bg-repeat-0 py-5" style="background-image: url(assets/img/home/marketplace-hero.jpg)">
    <div class="pb-lg-5 mb-lg-3">
        <div class="container py-lg-5 my-lg-5">
            <div class="row mb-4 mb-sm-5">
                <div class="col-lg-7 col-md-9 text-center text-sm-start">
                    <h1 class="text-white lh-base">
                        <span class="fw-light">Over</span>
                        1,500
                        <span class="fw-light">curated</span>
                        Design
                        <span class="fw-light">resources</span>
                        , Images,Graphic
                        <span class="fw-light">&amp;</span>
                        Website
                        <span class="fw-light">templates</span>
                    </h1>
                    <h2 class="h5 text-white fw-light">
                        High quality items created by our global community
                    </h2>
                </div>
            </div>
            <div class="row pb-lg-5 mb-4 mb-sm-5">
                <div class="col-lg-6 col-md-8">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Featured products (Carousel) -->
<section class="container position-relative pt-3 pt-lg-0 pb-5 mt-lg-n10" style="z-index: 10">
    <div class="card px-lg-2 border-0 shadow-lg">
        <div class="card-body px-4 pt-5 pb-4">
            <h2 class="h3 text-center">Principais Categorias</h2>
            <p class="text-muted text-center">
                Confira as nossas principais categorias
            </p>

            <div class="row justify-content-center mt-5">
                <div class="col-xl-2 col-sm-6" *ngFor="let category of categories">
                    <div class="card product-card-alt">
                        <div class="card product-card-alt">
                            <div class="product-thumb" style="height: 100px;">
                                <div class="product-card-actions">
                                    <a class="btn btn-light btn-icon btn-shadow fs-base mx-2" routerLink="/categoria/{{category.description}}" ngbTooltip="Ver">
                                        <i class="ci-eye"></i>
                                    </a>
                                </div>
                                <a class="product-thumb-overlay" routerLink="/categoria/{{category.description}}"></a>
                                <img src="{{ categoryImageUrlStaticFile}}{{category.imageUrl}}"  alt="Product" style="height: 100%;">
                            </div>
                            <div class="card-body">
                                <h3 class="product-title fs-sm mb-2">
                                    <a routerLink="/categoria/{{category.description}}">{{category.description}}</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Recent products grid -->
<section class="container pb-5 mb-lg-3">
    <!-- Heading -->
    <div class="d-flex flex-wrap justify-content-between align-items-center pt-1 border-bottom pb-4 mb-4">
        <h2 class="h3 mb-0 pt-3 me-2">Destaques no Mercado de Saúde</h2>
        <div class="pt-3">
            <select class="form-select me-2">
                <option>Todas categorias</option>
                <option>Photos</option>
                <option>Graphics</option>
                <option>UI Design</option>
                <option>Web Themes</option>
                <option>Fonts</option>
                <option>Add-Ons</option>
            </select>
        </div>
    </div>
    <!-- Grid -->
    <div class="row pt-2 mx-n2">
        <!-- Product -->
        <!-- Products grid -->
        <div class="row pt-3 mx-n2">
            <!-- Product -->
            <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-grid-gutter" *ngFor="let product of productsDto">
            <div class="card product-card-alt">
                <div class="product-thumb" style="height: 200px;">
                    <!-- <button class="btn-wishlist btn-sm" type="button" ngbTooltip="Add to wishlist">
                        <i class="ci-heart"></i>
                    </button> -->
                    <div class="product-card-actions">
                        <a class="btn btn-light btn-icon btn-shadow fs-base mx-2" ngbTooltip="View" routerLink="/produto/{{product.id}}">
                        <i class="ci-eye"></i>
                        </a>
                        <!-- <button class="btn btn-light btn-icon btn-shadow fs-base mx-2" type="button" ngbTooltip="Add to cart" (click)="addcart($index)">
                        <i class="ci-cart"></i>
                        </button> -->
                    </div>
                    <a class="product-thumb-overlay" routerLink="/produto/{{product.id}}"></a>
                    <img src="{{productImageUrlStaticFile}}{{product.mainPhoto}}" alt="Product" style="height: 100%;">
                </div>
                <div class="card-body">
                <div class="d-flex flex-wrap justify-content-between align-items-start pb-2">
                    <div class="text-muted fs-xs me-1">
                    por
                    <a class="product-meta fw-medium" href="javascript:void(0)">
                        {{product.userFullName}}
                    </a>
                    em
                    <a class="product-meta fw-medium" href="javascript:void(0)">
                        {{product.categoryName}}
                    </a>
                    </div>
                    <!-- <div class="star-rating me-2">
                    <ng-template #t let-fill="fill">
                        <span class="star" [class.full]="fill === 100">
                        <span class="half" [style.width.%]="fill">
                            ★
                        </span>
                        ☆
                        </span>
                    </ng-template>
                    <ngb-rating class="d-inline-flex stars align-middle star-rating" [(rate)]="cat.rate" [starTemplate]="t" [readonly]="true" [max]="5">
                    </ngb-rating>
                    </div> -->
                </div>
                <h3 class="product-title fs-sm mb-2">
                    <a routerLink="/produto/{{product.id}}">{{product.name}}</a>
                </h3>
                <div class="d-flex flex-wrap justify-content-between align-items-center">
                    <div *ngIf="product.promotionalPrice <= 0" class="bg-faded-accent text-accent rounded-1 py-1 px-2 price">{{product.price | currency:'AOA': 'symbol':'1.2-2' }}</div>
                    <div *ngIf="product.promotionalPrice" class="fs-xs me-1 text-accent rounded-1 py-1 px-2 price" style="text-decoration:line-through;">{{product.price | currency:'AOA': 'symbol':'1.2-2' }}</div>
                    
                    <div *ngIf="product.promotionalPrice" class="fs-sm me-2">
                        <span class="bg-faded-accent text-accent rounded-1 py-1 px-2 price">
                            {{ product.promotionalPrice | currency:' AOA': 'symbol':'1.2-2' }}
                          </span>                    
                        </div>
                </div>
                </div>
            </div>
            </div>

        </div>
    </div>
    <!-- More button -->
    <!-- <div class="text-center">
        <a class="btn btn-outline-accent" href="javascript:void(0)" routerLink="/category">
            View more products
            <i class="ci-arrow-right fs-ms ms-1"></i>
        </a>
    </div> -->
</section>
<!-- Seller of the month -->
<section class="border-top py-5">
    <div class="container py-lg-2">
        <h2 class="h3 mb-3 pb-3 pb-lg-4 text-center text-lg-start">Produtos mais procurados</h2>
        <div class="row">
            <div class="col-lg-4 text-center text-lg-start pb-3 pt-lg-2">
                <div class="d-inline-block text-start">
                    <div class="d-flex align-items-center pb-3">
                        <div class="img-thumbnail rounded-circle flex-shrink-0" style="width: 6.375rem">
                            <img class="rounded-circle" src="assets/img/marketplace/account/avatar.png" alt="Themesbrand">
                        </div>
                        <div class="ps-3">
                            <h3 class="fs-lg mb-0">Themesbrand</h3>
                            <span class="d-block text-muted fs-ms pt-1 pb-2">Member since November 2019</span>
                            <a class="btn btn-primary btn-sm" href="javascript:void(0)" routerLink="/vendor">
                                View
                                products
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <!-- Product -->
                <ngx-slick-carousel [config]="seller">
                    @for(seller of sellerproduct;track $index){
                    <div class="swiper-slide card product-card-alt" ngxSlickItem>
                        <div class="card product-card-alt">
                            <div class="product-thumb">
                                <button class="btn-wishlist btn-sm" type="button" ngbTooltip="Add to wishlist" (click)="selleraddfavorite($index)">
                                    <i class="ci-heart"></i>
                                </button>
                                <div class="product-card-actions">
                                    <a class="btn btn-light btn-icon btn-shadow fs-base mx-2" href="javascript:void(0)" ngbTooltip="view">
                                        <i class="ci-eye"></i>
                                    </a>
                                    <button class="btn btn-light btn-icon btn-shadow fs-base mx-2" type="button" ngbTooltip="Add to cart">
                                        <i class="ci-cart"></i>
                                    </button>
                                </div>
                                <a class="product-thumb-overlay" href="javascript:void(0)"></a>
                                <img src="{{ seller.image }}" alt="Product">
                            </div>
                            <div class="card-body">
                                <h3 class="product-title fs-sm mb-2">
                                    <a href="javascript:void(0)">{{ seller.title }}</a>
                                </h3>
                                <div class="d-flex flex-wrap justify-content-between align-items-center">
                                    <div class="fs-sm me-2">
                                        <i class="ci-download text-muted me-1"></i>
                                        {{ seller.sale }}
                                        <span class="fs-xs ms-1">Sales</span>
                                    </div>
                                    <div class="bg-faded-accent text-accent rounded-1 py-1 px-2 price">${{
                                        seller.price }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
</section>
<!-- Marketplace features -->
<section class="bg-accent bg-size-cover bg-position-center pt-5 pb-4 pb-lg-5" style="background-image: url(assets/img/marketplace/features/features-bg.jpg)">
    <div class="container pt-lg-3">
        <h2 class="h3 mb-3 pb-4 text-light text-center">Por que escolher nosso marketplace?</h2>
        <div class="row pt-lg-2 text-center">
            @for(service of services;track $index){
            <div class="col-lg-3 col-sm-6 mb-grid-gutter">
                <div class="d-inline-flex align-items-center text-start">
                    <img src="{{ service.image }}" width="52" alt="Quality Guarantee">
                    <div class="ps-3">
                        <h6 class="text-light fs-base mb-1">{{ service.title }}</h6>
                        <p class="text-light fs-ms opacity-70 mb-0">{{ service.sub_title }}</p>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>

<!-- Footer -->
<app-footer></app-footer>