<!-- Header -->
<app-header></app-header>

<!-- Hero section -->
<section class="bg-accent bg-position-top-center bg-repeat-0 py-5" style="background-image: url(assets/img/home/marketplace-hero.jpg)">
    <div class="pb-lg-5 mb-lg-3">
        <div class="container py-lg-5 my-lg-5">
            <div class="row mb-4 mb-sm-5">
                <div class="col-lg-7 col-md-9 text-center text-sm-start">
                    <h1 class="text-white lh-base">
                        <span class="fw-light">Over</span>
                        1,500
                        <span class="fw-light">curated</span>
                        Design
                        <span class="fw-light">resources</span>
                        , Images,Graphic
                        <span class="fw-light">&amp;</span>
                        Website
                        <span class="fw-light">templates</span>
                    </h1>
                    <h2 class="h5 text-white fw-light">
                        High quality items created by our global community
                    </h2>
                </div>
            </div>
            <div class="row pb-lg-5 mb-4 mb-sm-5">
                <div class="col-lg-6 col-md-8">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Featured products (Carousel) -->
<section class="container position-relative pt-3 pt-lg-0 pb-5 mt-lg-n10" style="z-index: 10">
    <div class="card px-lg-2 border-0 shadow-lg">
        <div class="card-body px-4 pt-5 pb-4">
            <h2 class="h3 text-center">Principais Categorias</h2>
            <p class="text-muted text-center">
                Confira as nossas principais categorias
            </p>

            <div class="row justify-content-center mt-5">
                <div class="col-xl-2 col-sm-6" *ngFor="let category of categories">
                    <div class="card product-card-alt">
                        <div class="card product-card-alt">
                            <div class="product-thumb" style="height: 100px;">
                                <div class="product-card-actions">
                                    <a class="btn btn-light btn-icon btn-shadow fs-base mx-2" routerLink="/categoria/{{category.description}}" ngbTooltip="Visualizar">
                                        <i class="ci-eye"></i>
                                    </a>
                                </div>
                                <a class="product-thumb-overlay" routerLink="/categoria/{{category.description}}"></a>
                                <img src="{{ categoryImageUrlStaticFile}}{{category.imageUrl}}"  alt="Product" style="height: 100%;">
                            </div>
                            <div class="card-body">
                                <h3 class="product-title fs-sm mb-2 text-center">
                                    <a routerLink="/categoria/{{category.description}}">{{category.description}}</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Recent products grid -->
<section class="container pb-5 mb-lg-3">
    <!-- Heading -->
    <div class="d-flex flex-wrap justify-content-between align-items-center pt-1 border-bottom pb-4 mb-4">
        <h2 class="h3 mb-0 pt-3 me-2">Destaques no Mercado de Saúde</h2>
        <div class="pt-3">
            <select class="form-select me-2" [(ngModel)]="selectedCategory" (change)="listProductsByCategory(selectedCategory)">
                <option value="" disabled>Todas categorias</option>
                <option *ngFor="let category of categories" [value]="category.description">
                    {{category.description}}
                </option>
            </select>
        </div>
    </div>
    <!-- Grid -->
    <div class="row pt-2 mx-n2">
        <!-- Product -->
        <!-- Products grid -->
        <div class="row pt-3 mx-n2">
            <!-- Product -->
            <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-grid-gutter" *ngFor="let product of productsDto">
                <div class="card product-card-alt">
                    <div class="product-thumb">
                    
                        <div class="product-card-actions">
                            <a class="btn btn-light btn-icon btn-shadow fs-base mx-2" ngbTooltip="Visualizar" routerLink="/produto/{{product.id}}">
                            <i class="ci-eye"></i>
                            </a>
                        </div>
                        <a class="product-thumb-overlay" routerLink="/produto/{{product.id}}"></a>
                        <img src="{{productImageUrlStaticFile}}{{product.mainPhoto}}" alt="{{product.name}}" style="width: 100%; height: 200px;  object-fit: cover;">
                    </div>
                    <div class="card-body">
                    <div class="d-flex flex-wrap justify-content-between align-items-start pb-2">
                        <div class="text-muted fs-xs me-1">
                        por
                        <a class="product-meta fw-medium" href="javascript:void(0)">
                            {{product.userFullName}}
                        </a>
                        em
                        <a class="product-meta fw-medium" href="javascript:void(0)">
                            {{product.categoryName}}
                            <span *ngIf="product.isUserVerified" class="text-success"><i class="ci-security-check"></i></span>
                            <span *ngIf="!product.isUserVerified" class="text-danger" style="border-radius: 50px;"><i class="ci-security-prohibition"></i></span>
                        </a>
                        </div>
                    </div>
                    <h3 class="product-title fs-sm mb-2">
                        <a routerLink="/produto/{{product.id}}">{{product.name}}</a>
                    </h3>
                    <div class="d-flex flex-wrap justify-content-between align-items-center">
                        <div *ngIf="product.promotionalPrice <= 0" class="bg-faded-accent text-accent rounded-1 py-1 px-2 price">{{product.price.toFixed(2).replace('.', ',') | mask: 'separator.2' }} <small>Kz</small></div>
                        <div *ngIf="product.promotionalPrice" class="fs-xs me-1 text-accent rounded-1 py-1 px-2 price" style="text-decoration:line-through;">{{product.price.toFixed(2).replace('.', ',') | mask: 'separator.2' }} <small>Kz</small></div>
                        
                        <div *ngIf="product.promotionalPrice" class="fs-sm me-2">
                            <span class="bg-faded-accent text-accent rounded-1 py-1 px-2 price">
                                {{ product.promotionalPrice.toFixed(2).replace('.', ',') | mask: 'separator.2' }} <small>Kz</small>
                            </span>                    
                            </div>
                    </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Seller of the month -->
<section class="border-top py-5">
    <div class="container py-lg-2">
        <h2 class="h3 mb-3 pb-3 pb-lg-4 text-center text-lg-start">Novos Lançamentos</h2>
        <div class="row pt-2 mx-n2">
            <!-- Product -->
            <!-- Products grid -->
            <div class="row pt-3 mx-n2">
                <!-- Product -->
                <div class="col-lg-3 col-md-4 col-sm-6 px-2 mb-grid-gutter" *ngFor="let product of productsDto">
                    <div class="card product-card-alt">
                        <div class="product-thumb" style="height: 200px;">
                        
                            <div class="product-card-actions">
                                <a class="btn btn-light btn-icon btn-shadow fs-base mx-2" ngbTooltip="Visualizar" routerLink="/produto/{{product.id}}">
                                <i class="ci-eye"></i>
                                </a>
                            </div>
                            <a class="product-thumb-overlay" routerLink="/produto/{{product.id}}"></a>
                            <img src="{{productImageUrlStaticFile}}{{product.mainPhoto}}" alt="{{product.name}}" style="width: 100%; height: 200px;  object-fit: cover;">
                        </div>
                        <div class="card-body">
                        <div class="d-flex flex-wrap justify-content-between align-items-start pb-2">
                            <div class="text-muted fs-xs me-1">
                            por
                            <a class="product-meta fw-medium" href="javascript:void(0)">
                                {{product.userFullName}}
                            </a>
                            em
                            <a class="product-meta fw-medium" href="javascript:void(0)">
                                {{product.categoryName}}
                                <span *ngIf="product.isUserVerified" class="text-success"><i class="ci-security-check"></i></span>
                                <span *ngIf="!product.isUserVerified" class="text-danger" style="border-radius: 50px;"><i class="ci-security-prohibition"></i></span>
                            </a>
                            </div>
                        </div>
                        <h3 class="product-title fs-sm mb-2">
                            <a routerLink="/produto/{{product.id}}">{{product.name}}</a>
                        </h3>
                        <div class="d-flex flex-wrap justify-content-between align-items-center">
                            <div *ngIf="product.promotionalPrice <= 0" class="bg-faded-accent text-accent rounded-1 py-1 px-2 price">{{product.price.toFixed(2).replace('.', ',') | mask: 'separator.2' }} <small>Kz</small></div>
                            <div *ngIf="product.promotionalPrice" class="fs-xs me-1 text-accent rounded-1 py-1 px-2 price" style="text-decoration:line-through;">{{product.price.toFixed(2).replace('.', ',') | mask: 'separator.2' }} <small>Kz</small></div>
                            
                            <div *ngIf="product.promotionalPrice" class="fs-sm me-2">
                                <span class="bg-faded-accent text-accent rounded-1 py-1 px-2 price">
                                    {{ product.promotionalPrice.toFixed(2).replace('.', ',') | mask: 'separator.2' }} <small>Kz</small>
                                </span>                    
                                </div>
                        </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
</section>

<!-- Marketplace features -->
<section class="bg-accent bg-size-cover bg-position-center pt-5 pb-4 pb-lg-5" style="background-image: url(assets/img/marketplace/features/features-bg.jpg)">
    <div class="container pt-lg-3">
        <h2 class="h3 mb-3 pb-4 text-light text-center">Por que escolher nosso marketplace?</h2>
        <div class="row pt-lg-2 text-center">
            @for(service of services;track $index){
            <div class="col-lg-3 col-sm-6 mb-grid-gutter">
                <div class="d-inline-flex align-items-center text-start">
                    <img src="{{ service.image }}" width="52" alt="Quality Guarantee">
                    <div class="ps-3">
                        <h6 class="text-light fs-base mb-1">{{ service.title }}</h6>
                        <p class="text-light fs-ms opacity-70 mb-0">{{ service.sub_title }}</p>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>

<!-- Footer -->
<app-footer></app-footer>